/* Palette designed using https://color.adobe.com/create/color-wheel
#61574D
#FACA9B
#E0C9B1
#61401E
#B09D8B */

* {
    color: #61401E;
    background-color: #E0C9B1;
}

header {
    text-align: center;
}

.hamburger-menu {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    margin: .5em;
    background-color: #E0C9B1;
    border-radius: 5px;
    cursor: pointer;
}

.hamburger-lines {
    width: 1.5em;
    height: .35em;
    background-color: #61401E;
    border-radius: 5px;
}

.hamburger-menu:hover .hamburger-lines {
    background-color: #f8d4b0;
}

#nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 50%;
    height: fit-content;
    cursor: pointer;
}

#info-area {
    visibility: hidden;
}

#about-area {
    visibility: hidden;
}

#converter-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

textarea {
    color: #3f352b;
    background-color: #f8d4b0;
    width: 90%;
    height: 10em;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    resize: none;
}

.button-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

button {
    background-color: #E0C9B1;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

/* #text-output {
    width: 90%;
    height: 10em;
    margin: 0;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
} */


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    margin-bottom: .25em;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    .hamburger-menu {
        visibility: hidden;
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: 100%;
    }

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
        width: auto;
        height: auto;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {
    footer {
        font-size: 1em;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}